.card {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  min-width: 120px;
  min-height: 210px;
  background: light-dark(rgba(255, 255, 255, 0.18), rgba(0, 0, 0, 0.193));
  border-radius: 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 0.46);
  transition: box-shadow 0.3s ease, transform 0.15s ease,
    background-color 0.4s ease;
}

.card:hover {
  background-color: light-dark(
    rgba(255, 255, 255, 0.475),
    rgba(255, 255, 255, 0.263)
  );
}
@media (max-width: 768px) {
  .card {
    min-width: 0;
  }
}

@media (max-width: 480px) {
  .card {
    min-width: 0;
  }
}

.clicksAnimate {
  animation: pop 0.45s ease-out;
  font-weight: bold;
}

@keyframes pop {
  0% {
    transform: scale(1);
    color: inherit;
  }
  30% {
    transform: scale(1.4);
    color: rgb(115, 223, 115);
    color: light-dark(rgb(38, 146, 38), rgb(115, 223, 115));
  }
  60% {
    transform: scale(1.2);
    color: light-dark(limegreen, rgb(115, 223, 115));
    color: light-dark(rgb(38, 146, 38), rgb(115, 223, 115));
  }
  100% {
    transform: scale(1);
    color: inherit;
  }
}
